@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Nova Mono", system-ui, sans-serif;
  }
}

@layer utilities {
  .hide-controls::-webkit-outer-spin-button,
  .hide-controls::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .hide-controls[type="number"] {
    -moz-appearance: textfield;
  }

  .hide-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
    padding: 0;
    background: transparent;
  }
}
