@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Nova Mono", system-ui, sans-serif;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
    padding: 0;
    background: transparent;
  }
}
